.Home {
  margin-left:10rem;
  margin-right:10rem;
  min-height:100vh;
  border-radius: 18px;
  color:  black;
  font-family: 'Oswald', sans-serif;

}
.profilePic{
  width: 150px;
  height: 185px;
  border-radius: 100%;
  border: 3px solid #877D74;
  filter: grayscale(100%)

} 

h1 {
  font-size: 9rem;
  font-family: 'Rouge Script', cursive;
  font-weight: 100;
  font-family: 'Tangerine', cursive;
  line-height: 10rem;
  height: 35px;
  margin-top: 50px;

}